.errcontainer {
    display: grid;
    place-items: center;   /* shorthand for justify + align */
    height: 70vh;
  }
  
#err {
    font-size: 2.5vw;
    color: var(--color-accent);
    text-align: center;
    line-height: 10vh;
  }