@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;500;600;700&display=swap');

.home {
  padding-left: 4%;
  padding-right: 4%;

}



.about {
  font-size: 1.5vw;
}

.section { 
  padding-bottom: 2%;
}

.sectiontitle {
  font-weight: 700;
}

strong, b {
  font-weight: 700; /* or 600 if you prefer */
}

li {
  padding-bottom: 0.7vh;
  font-size: 1.5vw;

}

.paperlist {
  list-style: none;
  margin: 0;
  padding: 0;
}


.underline {
  text-decoration: underline;
  font-weight: 600;
}



.authors {
  font-style: italic;
}

.papertitle {
  font-size: 1.5vw;
}

.papertitle {
  font-size: 1.5vw;
}


* {
  font-weight: 300;
    background: rgb(23, 23, 23);
    color: rgb(238, 202, 255);
    font-family: 'Titillium Web', sans-serif;

}

.sectiontitle {
  margin: 0 0 2vh 0;  /* instead of 12px */
  font-size: 2.5vw;   /* scales with width */
  line-height: 1.2;
}

.scrollbox {
  max-height: 25vh;   /* scales with height */
  overflow-y: auto;
  border: 0.1vw solid rgba(255,255,255,0.15);
  border-radius: 1vw;
  padding: 1vw;
  background: rgba(255,255,255,0.02);
}

.item + .item {
  border-top: 0.1vw solid rgba(255,255,255,0.08);
  margin-top: 1vh;
  padding-top: 1vh;
}

.item {

  padding-left: 0.7vw;
  border-radius: 0.5vw;
  padding-bottom: 0.2vh;
  padding-top: 0;

}


.meta {
  font-size: 1.3vw;
  opacity: 0.8;
  margin-bottom: 0.3vh;
  font-weight: 600;


}

.title {
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 0.5vh;
  font-size: 1.2vw;
}

.title:hover {
  text-decoration: underline;
}



 @media (max-width: 1000px) {

 }

